<h1><%= board.escape("title") %></h1>

<div class="list-wrapper">
  <ul class="list-list"></ul>
</div>

<button class="newList">New List</button>
<div class="member-wrapper">
  <h3>Board Members</h3>
  <ul class="member-list"></ul>
</div>

<button class="deleteBoard">Delete Board</button>